app-nav-item-component{
	list-style: none;
}

app-nav-item-component li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
.gone1 {
	style : none;
}