<li class=" dropdown">
  <a  href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle main">{{navTitle}}<span class="caret"></span></a>

  <ul class="dropdown-menu menu dropdown-menu-right">
    <li class="b-dropdown-grid-container b-dropdown-grid-container-three-column">
      <div class="row">
        <div class="col-sm-12">
          <h3>{{navSubTitle}}</h3>
        </div>
        <div class="col-sm-4" *ngIf="navLinksCol1">
          <ul>
            <li *ngFor="let linkItem of navLinksCol1">
              <a href="linkItem.ref" class="b-primary-nav-sublink nav-track">{{linkItem.label}}</a>
            </li>
          
          </ul>
        </div>
        <div class="col-sm-4" *ngIf="navLinksCol2">
          <ul>
           <li *ngFor="let linkItem of navLinksCol2">
              <a href="linkItem.ref" class="b-primary-nav-sublink nav-track">{{linkItem.label}}</a>
            </li>
            
          </ul>
        </div>
        <div class="col-sm-4" *ngIf="navLinksCol3">
          <ul>
            <li *ngFor="let linkItem of navLinksCol3">
              <a href="linkItem.ref" class="b-primary-nav-sublink nav-track">{{linkItem.label}}</a>
            </li>
  
          </ul>
        </div>
      </div>
    </li>
  </ul>
</li>
