<!--<div class="row">
	<div class="col-lg-4 col-md-2 col-sm-1" *ngFor="let book of books">
		<div class="margin-wrapper">
			<a href="" [routerLink]="['/book', book.id]">
				<div class="polaroid">
					<img src="http://lorempixel.com/400/200/sports/5/" alt="A placeholder image" style="width:100%">
						<div class="container">
				    		<p>Title: {{book.name}}</p>
				    		<p>Author: {{book.author}}</p>
				  		</div>

				  	<div class="item-hover">
						<button class="item-hover-btn">View Details</button>
					</div>	
				  	
				</div>
			</a>
		</div>	
		
	</div>
	
</div>-->

<div class="responsive" *ngFor="let book of books">
  <div class="img">
    <a href="" [routerLink]="['/book', book.id]">
      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

