<div class="row">
<div class="box-cover" *ngFor="let book of books">
<figure class=" box-cover figure0 col-lg-3 ">
  <img src="http://lorempixel.com/400/200/sports/5/" class="figure-img img-fluid " alt="A generic square placeholder image with rounded corners in a figure.">
  <figcaption class="figure-caption">A caption for the above image. </figcaption>
</figure>
</div>
</div>
<!--<div class="">
	<section class="">
		<ul class="">
			<li class="" *ngFor="let book of books">
        		<div class="">

          			<a class="" [routerLink]="['/book', book.id]" alt="image" >
            			<span class="">
                            <h1 class="">
	                            <span class="">{{book.name}}</span>
	            				<span class="">{{book.author}}<sup class="">®</sup></span>
            				</h1>
            			</span>


	            		


	            		<div style="outline: medium none;" class="">

	              			<img style="outline: medium none;" src="http://lorempixel.com/400/200/sports/5/" alt="Image of the Priceline Rewards Visa Card" class="img-thumbnail">


	              			<ul class="">

		                		<li class="">
		                  			<span class=""><p>5X points</p>
									</span>
		                  			<span class=""><p>on eligible priceline purchases</p>
									</span>
		                		</li>
		    				</ul>
		    			</div>
	    			</a>
	    		</div>
	    	</li>
	    </ul>    				
	</section>    
</div>

-->