
<div id="loggedInNavigation" class="b-app-container">

  <div id="b-secondary-nav" class="b-secondary-nav hidden-xs">

    <div class="container">
      <nav class="navbar navbar-default hidden-xs b-secondary-navbar">
        <div class="navbar-header">
          <!-- ADA Skip Nav Link -->
          <a class="sr-only sr-only-focusable b-skip-link" href="#bd">
            <span class="skiplink-text">Skip to main content</span>
          </a>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav navbar-right">

            <li>
              <a data-auto="b-secondary-nav-contact-us" href="#">Contact us</a>
            </li>

            <li>
              <a data-auto="b-secondary-nav-feedback" href="#">Feedback</a>
            </li>

            <li>
              <a href="#" data-toggle="collapse" data-target="#b-search-bar"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Help</a>
            </li>
          
          </ul>
        </div>
      </nav>
    </div>
    <div class="container b-secondary-navbar-subnav" id="b-search-container">
      <nav class="navbar navbar-default" role="navigation" id="submenu">
        <ul class="nav navbar-nav collapse navbar-right" id="b-search-bar">
          <li>
            <form class="navbar-form" role="search" action="">
              <div class="input-group">
                <label for="searchBox" class="sr-only">Search for a help topic</label>
                <input class="form-control" placeholder="Search for a help topic" name="keyWord" id="searchBox" type="text">
                <div class="input-group-btn">
                  <label for="srch-btn" class="sr-only">Search</label>
                  <button class="btn btn-default" id="srch-btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
            </form>
          </li>
        </ul>
      </nav>
    </div>

  </div>

    <!-- Welcome -->
  <div class="b-card-select-container fluid-container hidden-xs">
    <div class="container b-card-select">
      <div class="row">
        
        <div class="col-sm-4">
          <div class="greeting">
            <img alt="credit card" class="b-brand-logo" src="../assets/images/preschool-rater.png">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="b-greeting-container ">
              <p><span class="card-name" data-auto="selected-card-name">
              <h2>{{title}}</h2>
              </span>
            </p>
            <p></p>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="b-multi-card-container b-multi-card-hide hidden-xs" id="b-multi-card-container">

  </div>
    <!-- Main Nav - Tablet & Desktop -->
  <nav class="navbar b-primary-nav hidden-xs">
    <div class="container-fluid">

      <ul class="nav navbar-nav" id="b-primary-nav-links">
        <li  class="active dropdown">
          <a  href="#"   id="primaryHomeLink"><span> <i class="fa fa-home fa-fw" aria-hidden="true"></i></span> <span class="sr-only">Home</span></a>
        </li>

        <li class=" dropdown" *ngFor="let navItem of navItems">
        <a  href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle main">{{navItem.navTitle}}<span class="caret"></span></a>

          <ul [ngClass]="navItem.id > 4 ?  menuStyleRight : menuStyleLeft">

            <li [ngClass]="navItem.navLinksCol3 ?  navStyleThreeCol : navStyleOneCol" >
              <div class="row">
                <div class="col-sm-12">
                  <h3>{{navItem.navSubTitle}}</h3>
                </div>
                <div class="col-sm-4" *ngIf="navItem.navLinksCol1">
                  <ul>
                    <li *ngFor="let linkItem of navItem.navLinksCol1">
                      <a href="linkItem.ref" class="b-primary-nav-sublink nav-track">{{linkItem.label}}</a>
                    </li>
                  
                  </ul>
                </div>
                <div class="col-sm-4" *ngIf="navItem.navLinksCol2">
                  <ul>
                   <li *ngFor="let linkItem of navItem.navLinksCol2">
                      <a href="linkItem.ref" class="b-primary-nav-sublink nav-track">{{linkItem.label}}</a>
                    </li>
                    
                  </ul>
                </div>
                <div class="col-sm-4" *ngIf="navItem.navLinksCol3">
                  <ul>
                    <li *ngFor="let linkItem of navItem.navLinksCol3">
                      <a href="linkItem.ref" class="b-primary-nav-sublink nav-track">{{linkItem.label}}</a>
                    </li>
          
                  </ul>
                </div>
              </div>
            </li>
          </ul>
      </li>

      </ul>
    </div>
  </nav>
  </div>