
.welcome {
    text-align: center;
    margin: 15px 0;  
}

.header-wrapper {
    padding: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.margin-wrapper {
    margin: 20px;
}
.secondary-nav-wrapper {
    padding: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.nav-link-padding {
    padding-left: 10px;
}


div.polaroid {
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.109);
  text-align: center;
}

.margin-wrapper .item-hover {
    background-color: #2c3e50;
    border-radius: 2px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    margin-top: 20px; 
    width: 400px;
    height: 89%;

}
.margin-wrapper .item-hover:hover {
  opacity: 0.95;
}

.margin-wrapper .item-hover-btn {
  background-color: #2c3e50;
  border: 1px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  font: 14px "ProximaNova-Regular";
  margin-top: 37%;
  padding: 5px;
  text-transform: uppercase;
}

div.container {
  padding: 10px;

}
.nav-item {
  padding-left: 30px;
}


.dropdown-menu  {
    margin-right: 20px;
    vertical-align: text-top;
    width: 480px;
}

/* Extra css to work on later*/
.b-dropdown-grid-container {
    min-width: 480px;
    padding: 10px 0 17px 40px
}

.b-dropdown-grid-container.b-dropdown-grid-container-three-column {
    min-width: 480px
}

.b-dropdown-grid-container h3 {
    margin-bottom: 17px;
    color: #059fdb;
    font-family: "Barclaycard Co Light","Open Sans",tahoma,helvetica,arial,clean,sans-serif;
    font-size: 21px;
    text-align: left
}

.b-dropdown-grid-container ul {
    padding-left: 0;
    list-style: none
}

.b-dropdown-grid-container ul li {
    margin-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eee
}

.b-primary-nav .dropdown-menu {
    display: block;
    top: 120%;
    margin-top: -1px;
    visibility: hidden
}

@media (min-width: 992px) {
    .b-primary-nav .dropdown-menu {
        opacity:0;
        filter: alpha(opacity=0);
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 100ms;
        transition-duration: 100ms;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out
    }
}

.b-primary-nav .open .dropdown-menu {
    opacity: 1;
    filter: alpha(opacity=100);
    top: 100%;
    visibility: visible
}

@media (min-width: 768px) {
    .b-primary-nav .open .dropdown-menu {
        width:100%
    }
}

@media (min-width: 992px) {
    .b-primary-nav .open .dropdown-menu {
        width:inherit
    }
}

.b-secondary-nav {
    background-color: #085da9
}

.b-secondary-nav .navbar {
    min-height: 35px;
    margin-bottom: 0
}

.b-secondary-nav .b-secondary-navbar .navbar-right {
    margin-right: 0
}

.b-secondary-nav .navbar-nav>li>a,.b-secondary-nav a {
    padding: 7px 20px;
    color: #fff;
    font-size: 12px
}

.b-secondary-nav .secondary-nav-last-login {
    display: none;
    padding: 7px 0;
    color: #fff;
    font-size: 12px;
    line-height: 34px
}

@media (min-width: 992px) {
    .b-secondary-nav .secondary-nav-last-login {
        display:inline
    }
}

.b-secondary-nav .navbar-nav .b-secondary-link {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-top: 5px;
    padding: 3px 24px;
    background-color: #fff;
    color: #0f70b3
}

.b-secondary-nav .navbar-nav .b-secondary-link:hover,.b-secondary-nav .navbar-nav .b-secondary-link:focus {
    background-color: #fff;
    color: #0f70b3
}

.b-secondary-nav .badge {
    font-size: 12px
}

.b-secondary-nav .b-skip-link {
    display: none
}

.b-secondary-nav .b-secondary-navbar-subnav {
    border: none;
    background-color: #085da9
}

.b-secondary-nav .b-secondary-navbar-subnav .navbar {
    min-height: 0
}

.b-secondary-nav .b-secondary-navbar-subnav li {
    width: 400px;
    margin-top: 0
}

.b-secondary-nav .b-secondary-navbar-subnav .navbar-form {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 5px;
    background-color: #085da9
}

.b-secondary-nav .b-secondary-navbar-subnav .navbar-form .input-group {
    width: 100%
}

.b-secondary-nav .b-secondary-navbar-subnav .navbar-form .input-group-btn {
    width: 1%
}

.b-secondary-nav .b-secondary-navbar-subnav .navbar-form .btn {
    height: 33px;
    margin: 0;
    padding: 8px 20px;
    border: none;
    background-color: #31b0d5;
    color: #fff;
    font-size: 14px;
    line-height: 11px
}

.b-secondary-nav .b-secondary-navbar-subnav .navbar-form .form-control,.b-secondary-nav .b-secondary-navbar-subnav .navbar-form .select-default-container:not(old) .select-default,.select-default-container:not(old) .b-secondary-nav .b-secondary-navbar-subnav .navbar-form .select-default {
    height: 33px;
    border: none;
    background-color: #31b0d5;
    color: #fff
}

.b-secondary-nav .b-secondary-navbar-subnav .navbar-form .form-control::-webkit-input-placeholder,.b-secondary-nav .b-secondary-navbar-subnav .navbar-form .select-default-container:not(old) .select-default::-webkit-input-placeholder,.select-default-container:not(old) .b-secondary-nav .b-secondary-navbar-subnav .navbar-form .select-default::-webkit-input-placeholder {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #fff
}

.b-secondary-nav .b-secondary-navbar-subnav .navbar-form .form-control:-moz-placeholder,.b-secondary-nav .b-secondary-navbar-subnav .navbar-form .select-default-container:not(old) .select-default:-moz-placeholder,.select-default-container:not(old) .b-secondary-nav .b-secondary-navbar-subnav .navbar-form .select-default:-moz-placeholder {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #fff;
    opacity: 1
}

.b-secondary-nav .b-secondary-navbar-subnav .navbar-form .form-control::-moz-placeholder,.b-secondary-nav .b-secondary-navbar-subnav .navbar-form .select-default-container:not(old) .select-default::-moz-placeholder,.select-default-container:not(old) .b-secondary-nav .b-secondary-navbar-subnav .navbar-form .select-default::-moz-placeholder {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #fff;
    opacity: 1
}

.b-secondary-nav .b-secondary-navbar-subnav .navbar-form .form-control:-ms-input-placeholder,.b-secondary-nav .b-secondary-navbar-subnav .navbar-form .select-default-container:not(old) .select-default:-ms-input-placeholder,.select-default-container:not(old) .b-secondary-nav .b-secondary-navbar-subnav .navbar-form .select-default:-ms-input-placeholder {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #fff
}

.compact-navbar {
    margin-bottom: 8px;
    background-color: #fff
}
