/*
.welcome {
    text-align: center;
    margin: 15px 0;  
}

.header-wrapper {
    padding: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.margin-wrapper {
    margin: 20px;
}
.secondary-nav-wrapper {
    padding: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.nav-link-padding {
    padding-left: 10px;
}


div.polaroid {
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.109);
  text-align: center;
}

.margin-wrapper .item-hover {
    background-color: #2c3e50;
    border-radius: 2px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    margin-top: 20px; 
    width: 400px;
    height: 89%;

}
.margin-wrapper .item-hover:hover {
  opacity: 0.95;
}

.margin-wrapper .item-hover-btn {
  background-color: #2c3e50;
  border: 1px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  font: 14px "ProximaNova-Regular";
  margin-top: 37%;
  padding: 5px;
  text-transform: uppercase;
}

div.container {
  padding: 10px;

}
.nav-item {
  padding-left: 30px;
}

*/
/*.dropdown-menu  {
    margin-right: 20px;
    vertical-align: text-top;
    width: 480px;
}


.dropdown-grid-container {
    min-width: 480px;
    padding: 10px 0 17px 40px
}

.dropdown-grid-container.dropdown-grid-container-three-column {
    min-width: 480px
}

.dropdown-grid-container h3 {
    margin-bottom: 17px;
    color: #059fdb;
    font-family: "Open Sans",tahoma,helvetica,arial,clean,sans-serif;
    font-size: 21px;
    text-align: left
}

.dropdown-grid-container ul {
    padding-left: 0;
    list-style: none
}

.dropdown-grid-container ul li {
    margin-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eee
}


@media screen and (max-width: 842px){
  .dropdown-menu  {
    margin-right: 20px;
    vertical-align: text-top;
    width: 120px;
}
}*/