.container-fluid {
	 /*background: #fff url("../assets/images/ignasi_pattern_s.png")  center center;*/
	 /*min-height: 800px;*/
}

.details {
	margin: 20px;
}

.details h2 {
	color: #145c9a;
}
.details h3 {
	color: #145c9a;
}

.details button {
	color: #20517d;
}

.details p {
	margin-top: 20px; 
}