* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.school-row {
	margin: 10px;
	width: 100%;
	overflow: auto;
}

.school-image {
	float: left;
    width: 25%;
    height: auto;
    margin-right: 25px;
    max-width: 200px;
    max-height: 200px;

    
}
.school-content {
    width: 75%;
}
