.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.school-row {
	margin: 5px;
	width: 100%; 
}

.school-img {
 float: left;
 width: 24.9999%;
 padding: 10px;

}

.school-data {

	float:left;
	width: 74.9999%;
	padding: 10px;
}
