* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.school-row {
	margin: 10px;
	width: 100%;
	overflow: auto;
	border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.school-row:hover {
    border: 2px solid #777;
}

.school-image {
	float: left;
    width: 25%;
    height: auto;
    margin-right: 18px;
    
}
.school-content {
    width: 75%;
    padding: 10px 0 10px 0;
}
